* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ede0d4;
  color: #3a2b20;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3a1f0e;
  padding: 10px 20px;
}

.brand-name {
  font-size: 20px;
  color: #fdf7f2;
  font-family: 'Gilda Display', serif;
}

.menu-icon {
  font-size: 24px;
  color: #ffffff;
}

.hero-section {
  position: relative;
  text-align: center;
  padding: 50px;
  overflow: hidden;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/klinik_1.jpeg');
  background-size: cover;
  /* background-position: 50% 50%; */
  opacity: 0.6;
  z-index: -1;
}

.hero-section h1 {
  font-size: 35px;
  padding: 5px;
  color: #1e1e1e;
  font-family: 'Gilda Display', serif;
}

.hero-section p {
  font-size: 12px;
  margin-bottom: 10px;
  color: #3e2d26;
}

.hero-section .highlight {
  color: #ffffff;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-choco {
  padding: 10px 15px;
  background-color: #3a1f0e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Inter-Regular", Helvetica;
}

.btn-white {
  padding: 10px 15px;
  background-color: #fff;
  font-weight: bold;
  color: #3a1f0e;
  border: 1px solid #3a1f0e;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Inter-Regular", Helvetica;
}

.intro-text {
  text-align: center;
  margin: 20px 0;
  font-size: 16px;
  color: #401b00;
  font-family: 'Gilda Display', serif;
  font-weight: bold;
}

.highlight2 {
  color: #d4a760;
}

.treatment-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 20px;
  color: #3e2c1e;
}

.card {
  width: 100%;
  background-color: #f1d5b5;
  border-radius: 15px;
  border: 1px solid #c4a484;
}

.card p {
  font-family: 'Gilda Display', serif;
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
}

.card img {
  width: 100%;
  border-radius: 15px;
}

.certifications {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin: 25px;
  font-size: 12px;
  font-family: 'Gilda Display';
}

.certification {
  text-align: center;
}

.certification-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #C4A484;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.divider {
  border: none;
  height: 2px;
  background-color: #e0c3a3;
  margin: 10px 10px;
}

.product-section {
  text-align: left;
  padding: 15px;
}

.product-section p {
  margin-bottom: 5px;
  margin-left: 10px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gilda Display';
  font-size: 10px;
  line-height: 1;
  color: #B19A21;
}

.product-section h2 {
  margin-bottom: 15px;
  margin-left: 10px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Gilda Display';
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  color: #5b3925;
}

.products {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-bg {
  width: 100px;
  height: 50px;
  background-color: #d7b89a;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-bg img {
  width: auto;
  height: 80px;
  border-radius: 50%;
  transform: translateY(-20px);
}

.action-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.btn-details {
  padding: 30px 0px;
  font-size: 12px;
  font-family: Arial, sans-serif;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background: none;
  color: #5a2d0c;
  text-decoration: underline;
  font-weight: bold;
}

.btn-buy {
  padding: 15px 0px;
  font-size: 10px;
  font-family: Arial, sans-serif;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #5a2d0c;
  color: #d9d9d9;
  border-radius: 15px;
  padding: 8px 15px;
}

.doctor{
  padding: 0px 20px;
}

.doctor-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1d5b5;
  border: 2px solid #d6a550;
  margin-bottom: 20px;
  border-radius: 10px;
}

.doctor-image img {
  width: 120px;
  height: auto;
  border-radius: 10px;
  /* justify-content: flex-start; */
}

.doctor-info {
  text-align: center;
  flex-grow: 1;
}

.doctor-info h2 {
  font-size: 1.1em;
  color: #4e342e;
  margin-bottom: 10px;
}

.doctor-info p {
  font-size: 0.9em;
  color: #000000;
  margin: 0;
}