* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ede0d4;
  color: #3a2b20;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3a1f0e;
  padding: 10px 20px;
}

.brand-name {
  font-size: 20px;
  color: #fdf7f2;
}

.menu-icon {
  font-size: 24px;
  color: #fdf7f2;
}

.hero-section {
  position: relative;
  text-align: center;
  padding: 20px;
  overflow: hidden;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/klinik_1.jpeg');
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  z-index: -1;
}

.hero-section h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 10px;
  color: #3e2d26;
  font-family: "Gilda Display", serif;
}

.hero-section p {
  font-size: 10px;
  margin-bottom: 20px;
  color: #401b01;
}

.hero-section .highlight {
  color: #ffffff;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  padding: 10px 15px;
  background-color: #3a1f0e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Inter-Regular", Helvetica;
}

.btn.white {
  background-color: #fff;
  color: #3a1f0e;
  border: 1px solid #3a1f0e;
}

.intro-text {
  text-align: center;
  margin: 20px 0;
  font-size: 16px;
  color: #401b00;
  font-family: "Gilda Display-Regular", Helvetica;
}

.intro-text .highlight2 {
  color: #d4a760;
}

.treatment-cards {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
  padding: 10px 10px;
}

.card {
  flex: 0 0 auto;
  width: 150px;
  text-align: center;
  background-color: #f3dec8;
  border-radius: 15px;
}

.card img {
  width: 100%;
  border-radius: 15px;
}

.certifications {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  font-size: 12px;
}

.certification {
  text-align: center;
}

.certification-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #dfd8ce;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.divider {
  border: none;
  height: 2px;
  background-color: #e0c3a3;
  margin: 20px 0;
}

.product-section {
  text-align: left;
  margin-top: 20px;
  padding: 10px;
}

.products {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.product {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0c3a3;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.action-buttons .btn {
  padding: 8px 12px;
  font-size: 12px;
}